lap
shapely
typing-extensions
ultralytics>=8.3.0
viam-sdk==0.47.0
pyyaml

./build/torch-2.5.0a0+872d972e41.nv24.08.17622132-cp310-cp310-linux_aarch64.whl
./build/torchvision-0.20.0a0+afc54f7-cp310-cp310-linux_aarch64.whl

pyinstaller